/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-Light.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-LightItalic.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-Regular.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-Italic.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-Semibold.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */

/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiboldItalic.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-SemiboldItalic.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-SemiboldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-Bold.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-BoldItalic.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */

/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-ExtraBold.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */

/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), /* Super modern browsers */
       url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), /* Modern browsers */
       url('../fonts/OpenSans-ExtraBoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
