@import url("OpenSans.min.css");
:root {
  --ongres-gray: #EBECEF;
  --ongres-blue: #426D88;
  --ongres-orange: #FF7124;
  --transparent-ongres-blue: rgba(66, 110, 136, 0.6);
  --very-transparent-ongres-blue: rgba(66, 110, 136, 0.4);
  --transparent-ongres-orange: rgba(255, 113, 36, 0.8);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#elephant {
  height: 20vh;
  width: 9.86vw;
  top: 0.86vh;
  left: 5.4vw;
  position: fixed;
  z-index: 200;
  min-height: 2.2em;
}

.menu-buttons {
  float: right;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-buttons .menu-button {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  font-size: 1.5em;
}

.menu-buttons .menu-button a {
  text-decoration: none;
}

.lang-menu-button strong {
  color: var(--ongres-orange);
}

header {
  width: 100%;
  height: 5vh;
  min-height: 3em;
  position: fixed;
  background-color: white;
  z-index: 199;
  transition: all 500ms ease-in-out;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

header .menu-buttons {
  margin-right: 5.05%;
  width: 52.25%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

header .menu-buttons .menu-button.lang-menu-button {
  border: 1px solid var(--ongres-blue);
  cursor: pointer;
  padding: 0.2em;
  margin-top: -0.2em;
  margin-left: -0.2em;
}

header .menu-buttons .menu-button, header .menu-buttons .menu-button a {
  color: var(--ongres-blue);
  font-weight: 600;
}

header .header-logo {
  height: 3vh;
  width: 6vw;
  opacity: 0;
  position: fixed;
  left: 17vw;
  top: 1vh;
}

header.dark {
  background-image: url('../assets/dark-nav.jpg');
  background-size: cover;
}

header.dark .menu-buttons .menu-button, header.dark .menu-buttons .menu-button a {
  color: white;
}

header.dark .menu-buttons .menu-button.lang-menu-button {
  border: 1px solid white;
}

header.dark .header-logo {
  opacity: 1;
}

.submenu {
  width: 100%;
  height: 6.5vh;
  line-height: 6.5vh;
  top: 5vh;
  position: fixed;
  background-color: var(--transparent-ongres-blue);
  z-index: 199;
  display: none;
}

.submenu .menu-buttons {
  margin-right: 6.05%;
  width: 76.25%;
}

.submenu .menu-buttons .menu-button, .submenu .menu-buttons .menu-button a {
  color: white;
  font-weight: 600;
}

#mobile-elephant {
  display: none;
}

.db-banner {
  background-image: url('../assets/db-banner.png');
  width: 100%;
  background-size: 100% 100%;
  height: 33vh;
  float: left;
  margin-top: 3vh;
  min-height: 25em;
}

.db-banner .text {
  width: 31.25%;
  margin-left: 34.375%;
  margin-right: 34.375%;
  margin-top: 4%;
  height: 53.52%;
  float: left;
}

.db-banner .text img {
  width: 72.15%;
  margin-left: 13.925%;
}

.db-banner .text .subtitle {
  margin: 1.5em 4%;
  color: white;
  font-size: 2.1em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.whatwedo {
  width: 75vw;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  float: left;
}

.item {
  float: left;
  position: relative;
  width: 30.3%;
  background: url('../assets/trapezoid.png');
  /*background-size: cover;*/
  background-size: 28vw 56em;
}

.middle_item {
  margin-right: 4.5%;
  margin-left: 4.5%;
}

.item-box {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
  -moz-box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
  box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
  background-color: var(--ongres-gray);
  margin-top: 58em;
  margin-left: 1.1vw;
  padding: 33px;
  margin-right: 1vw;
}

.whatwedo .item-box .content .text .title {
  color: var(--ongres-orange);
  text-align: center;
  font-weight: bold;
  font-size: 1.95em;
  width: 42%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.7em;
}

.whatwedo .item-box .content .text .description {
  color: var(--ongres-blue);
  text-align: center;
  font-size: 1.6em;
  width: 78.5%;
  margin-left: 50%;
  font-weight: lighter;
  transform: translateX(-50%);
}

.whatwedo .item-box .content img {
  display: block;
  margin: auto;
  height: 10em;
  width: auto;
  padding-bottom: 15px;
}

.whatwedo .item .content {
  margin-top: 17em;
  display: inline-block;
  height: 39.1em;
  position: relative;
  width: 100%;
}

.whatwedo .item .content .text {
  margin-top: 9em;
}

.whatwedo .item .content .text .title {
  color: var(--ongres-orange);
  text-align: center;
  font-weight: bold;
  font-size: 1.95em;
  width: 42%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.7em;
}

.whatwedo .item .content .text .description {
  color: var(--ongres-blue);
  text-align: center;
  font-size: 1.6em;
  width: 78.5%;
  margin-left: 50%;
  font-weight: lighter;
  transform: translateX(-50%);
}

.whatwedo .item .content .text .description p {
  padding: 0;
  margin: 0;
}

.whatwedo .item .content .text .description p strong {
  --color: var(--ongres-orange);
}

.icon-container-translate {
  position: absolute;
  background: var(--ongres-gray);
  margin-left: 50%;
  transform: translateX(-50%);
  width: 23em;
}

.icon-container {
  cursor: pointer;
  display: inline-block;
  width: 22.6em;
  height: 22.6em;
  position: absolute;
  background: var(--ongres-gray);
  /*border: 1.2em solid white;*/
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
  -moz-box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
  box-shadow: 5px 5px 10px 0px rgba(112, 112, 112, 0.6);
}

.icon-container.turning {
  transition: all 800ms ease-in-out;
  transform: rotateY(360deg);
}

.icon-container-back {
  display: inline-block;
  width: 25em;
  height: 24em;
  margin-left: 49%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  background: white;
  z-index: 90;
  transform: translateX(-50%);
}

.icon-container img {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border: none;
}

.slick-container {
  width: 50vw;
  height: 8vh;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  float: left;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.slick {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.slick-card.slick-slide {
  width: 40%;
  position: relative;
  float: left;
  height: 7.8vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.slick-card.slick-slide .customer {
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 60%;
  margin-left: 20%;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-card.slick-slide.slick-center .customer {
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.slider-arrow {
  position: relative;
  float: left;
  width: 6%;
  height: 7.8vh;
  line-height: 7.8vh;
  font-size: 8em;
  cursor: pointer;
  background-repeat: no-repeat;
}

.slider-arrow-left {
  padding-right: 7%;
  text-align: left;
  background-image: url('../assets/left-arrow.svg');
}

.slider-arrow-right {
  padding-left: 7%;
  text-align: right;
  background-image: url('../assets/right-arrow.svg');
  background-position-x: right
}

.slick-services {
  height: 6.2vw;
  max-width: 18%;
  min-width: 9%;
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.slick-service {
  height: 100%;
  width: 5vw;
  position: relative;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.bbm, .blackberry {
  background-image: url('../assets/bbm.png');
}

.groupon {
  background-image: url('../assets/groupon.png');
}

.psma {
  background-image: url('../assets/psma.png');
}

.q2 {
  background-image: url('../assets/q2.png');
}

.ecb {
  background-image: url('../assets/ecb.png');
}

.gitlab {
  background-image: url('../assets/gitlab.png');
}

.horizontal-bar {
  height: 1px;
  width: 100%;
  float: left;
  background: var(--ongres-orange);
}

.horizontal-space {
  height: 3vh;
  width: 100%;
  float: left;
}

.section-title {
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  float: left;
  font-size: 2em;
  font-weight: 600;
  color: var(--ongres-orange);
  text-align: center;
}

.section-title a {
  color: var(--ongres-orange);
  text-decoration: none;
}

.subsection-title {
  height: 4vh;
  line-height: 4vh;
  width: 100%;
  float: left;
  font-size: 1.5em;
  color: var(--ongres-blue);
  text-align: center;
}

/*
############### BLOG ##################
*/

.blog-list-articles {
  margin-top: 100px;
}

article.blog-post {
  margin-top: 100px;
}

article a {
  text-decoration: none;
  color: var(--ongres-blue);
}

.blog-title-list {
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  float: left;
  font-size: 1.9em;
  font-weight: 600;
  color: var(--ongres-orange);
  text-align: center;
}

section.blog-title>h1 {
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  float: left;
  font-size: 1.9em;
  font-weight: 600;
  color: var(--ongres-orange);
  text-align: center;
}

.blog-metadata {
  width: 100%;
  font-size: 1em;
  color: var(--ongres-blue);
  text-align: center;
}

.blog-text {
  text-align: justify;
  margin-left: 15.9%;
  margin-right: 15.9%;
  height: 100%;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 1.4em;
  color: #495057;
  /*var(--ongres-blue);*/
  width: 68.2%;
}

.blog-text blockquote {
  border-left: 4px solid var(--ongres-blue);
  ;
  padding-left: 1em;
  font-style: italic;
}

div.highlight>pre {
  padding: 1em;
  border-radius: 10px;
  max-height: 600px;
}

.blog-comments {
  text-align: justify;
  margin-left: 16%;
  margin-right: 16%;
  height: 100%;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: #495057;
  /*var(--ongres-blue);*/
  width: 68.2%;
}

.blog-readmore-button {
  background-color: var(--ongres-orange);
  text-decoration: none;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  padding: 0.6em;
  line-height: 2em;
  border: 2px solid var(--ongres-gray);
}

.blog-cover-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 35%;
}

.blog-image {
  padding: 0;
}

.blog-image>img {
  width: 16vw;
  min-width: 350px;
  padding: 0;
}

@media (max-width: 1199.98px) {
  .blog-title-list {
    font-size: 1.9em;
  }
  section.blog-title>h1 {
    font-size: 1.9em;
  }
  .blog-text {
    font-size: 1.7em;
  }
}

@media (max-width: 991.98px) {
  .blog-title-list {
    font-size: 1.7em;
  }
  section.blog-title>h1 {
    font-size: 1.7em;
  }
  .blog-text {
    font-size: 1.5em;
  }
}

@media (max-width: 767.98px) {
  .blog-title-list {
    font-size: 1.5em;
  }
  section.blog-title>h1 {
    font-size: 1.5em;
  }
  .blog-text {
    font-size: 1.3em;
  }
}

@media (max-width: 575.98px) {
  .blog-image {
    padding: 0;
  }
  .blog-image>img {
    width: 70vw;
    min-width: 230px;
    padding: 0;
  }
  .blog-title-list {
    font-size: 1.3em;
  }
  section.blog-title>h1 {
    font-size: 1.3em;
  }
  .blog-text {
    font-size: 1.2em;
  }
}

/*
############### END BLOG ##################
*/

.partners {
  height: 10vh;
  min-height: 100px;
  max-width: 80%;
  min-width: 12%;
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.partner {
  height: 75%;
  position: relative;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 2vw;
  margin-right: 2vw;
}

.subscribe-banner {
  background-image: url('../assets/subscribe-min.jpg');
  width: 100%;
  background-size: cover;
  height: 41vh;
  float: left;
}

.subscribe-banner img {
  height: 6vw;
  width: 6vw;
  left: 14vw;
  position: absolute;
  margin-top: 12vh;
}

.subscribe-banner .subscribe-banner-button {
  background-color: var(--transparent-ongres-orange);
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 2em;
  border: 2px solid white;
  font-weight: 600;
  position: absolute;
  left: 70vw;
  margin-top: 14vh;
}

.subscribe-banner .text {
  margin-top: 16vh;
  left: 28vw;
  position: absolute;
  width: 34vw;
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.bottom {
  background-color: var(--ongres-gray);
  width: 100%;
  height: 65vh;
  float: left;
}

.social {
  height: 3vw;
  max-width: 25%;
  min-width: 6%;
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding-top: 3vh;
}

.bottom.contact {
  height: 23vh;
}

.social-network {
  height: 100%;
  width: 3.5vw;
  position: relative;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-text {
  height: 6vh;
  width: 100%;
  float: left;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--ongres-blue);
  text-align: center;
  padding-top: 0vh;
}

.bottom-text a {
  text-decoration: none;
  color: var(--ongres-blue);
}

/*
###########################################
############### SERVICES ##################
###########################################
*/

.animated {
  width: 16%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 20vh;
  margin-left: 3vw;
}

.main-service {
  width: 80%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 8vh;
}

.service-description {
  margin-left: 8.95%;
  margin-right: 8.95%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 1vh;
  font-size: 1.6em;
  color: var(--ongres-blue);
}

.service-description strong {
  color: var(--ongres-orange);
  font-weight: 600;
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  transition: all 500ms ease-in-out;
  z-index: 80;
  width: 80vw;
  height: 100vh;
  background: var(--ongres-blue);
}

#mobile-menu.open {
  left: 20%;
}

.mobile-menu-button-container {
  display: none;
  position: fixed;
  top: 2vh;
  right: 2vh;
  height: 5.5vh;
  width: 6vh;
  z-index: 149;
}

.mobile-menu-button-container.dark {
  background: url(../assets/dark-nav-movil.jpg) no-repeat center;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#mobile-menu-button {
  float: right;
  height: 4.5vh;
  width: 5vh;
  margin-right: 0.5vh;
  margin-top: 0.5vh;
  background-image: url('../assets/menu-movil.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 150;
}

.dark #mobile-menu-button {
  margin-right: 2.5vh;
  margin-top: 2.5vh;
}

#mobile-menu-button.open {
  background-image: url('../assets/close-menu-movil.svg');
}

/*
###########################################
############ TEXT SECTIONS ################
###########################################
*/

.section-title.textpage {
  margin-top: 11.4vh;
}

.section-text {
  margin-left: 15.9%;
  margin-right: 15.9%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.6em;
  color: var(--ongres-blue);
  width: 68.2%;
}

.section-text strong {
  color: var(--ongres-orange);
  font-weight: 600;
}

.section-text.center {
  text-align: center;
}

.section-text ul {
  padding-left: 0;
}

.section-text li {
  list-style-type: none;
}

.section-text h2 {
  padding-top: 3em;
  font-weight: 600;
}

.section-text h4 {
  color: var(--ongres-orange);
  font-weight: 600;
}

.wannacome-title {
  font-weight: 600;
  font-size: 2.3em;
  color: var(--ongres-blue);
  text-align: center;
}

.wannacome-desc {
  margin-top: 2vh;
  font-size: 1.8em;
  color: var(--ongres-blue);
  text-align: center;
  margin-left: 15.9%;
  margin-right: 15.9%;
  width: 68.2%;
}

.wannacome-desc a, .wannacome-desc strong {
  color: var(--ongres-orange);
  font-weight: 600;
  text-decoration: none;
}

/*
###########################################
############# WE'RE HIRING ################
###########################################
*/

.positions {
  height: 38.5vh;
  display: flex;
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.position {
  height: 100%;
  position: relative;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 26vw;
  text-decoration: none;
}

.position img {
  height: 10vw;
  width: 10vw;
  margin-left: 8vw;
}

.position .text {
  font-size: 2em;
  font-weight: 600;
  color: var(--ongres-orange);
  width: 26vw;
  text-align: center;
}

.position-text {
  margin-left: 15.9%;
  margin-right: 15.9%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 1vh;
  margin-bottom: 4vh;
  font-size: 1.6em;
  color: var(--ongres-blue);
  width: 68.2%;
}

.position-text strong {
  color: var(--ongres-orange);
  font-weight: 600;
}

.position-text.center {
  text-align: center;
}

.position-text ul {
  -webkit-padding-start: 1em;
}

.position-text li {
  list-style-type: disk;
  padding-bottom: 0.3em;
  margin-left: 5%;
}

.position-title {
  margin-top: 11.4vh;
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  float: left;
  font-size: 3.5em;
  font-weight: 600;
  color: var(--ongres-orange);
  text-align: center;
}

.position-text a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  color: var(--transparent-ongres-blue);
}

.position-text a:hover {
  color: var(--ongres-orange);
}

.position-text a a:focus {
  outline: none;
}

/*
###########################################
############### PRODUCTS ##################
###########################################
*/

.section-title.products {
  margin-top: 10vh;
}

.subsection-title.products {
  font-size: 1.92em;
  font-weight: 600;
}

.product-img {
  width: 50vw;
  background-image: url('../assets/postgresCONF.png');
  height: 96vh;
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  margin-top: -20vh;
  margin-left: -5vw;
}

.product-desc {
  width: 49vw;
  position: relative;
  float: left;
  margin-left: 3vw;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product-desc .point {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 22vw;
  min-width: 10em;
  padding-bottom: 3em;
}

.product-desc .point .title {
  height: 6vh;
  line-height: 6vh;
  width: 100%;
  float: left;
  font-size: 1.9em;
  font-weight: 600;
  color: var(--ongres-blue);
}

.product-desc .point .description {
  width: 100%;
  float: left;
  font-size: 1.6em;
  color: var(--ongres-blue);
  padding-top: 1em;
}

.product-desc .description strong, .product-desc .mobile-box-desc strong {
  color: var(--ongres-orange);
  font-weight: 600;
}

.product-desc .description .prod-buttons, .product-desc .mobile-box-desc .prod-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1em;
}

.product-desc .description .prod-button, .product-desc .mobile-box-desc .prod-button {
  line-height: 2em;
  border: 2px solid;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: var(--ongres-orange);
}

/*
###########################################
################ CONTACT ##################
###########################################
*/

.section-title.contact {
  margin-top: 20vh;
}

.contact-form {
  width: 35vw;
  height: 60vh;
  position: relative;
  float: left;
  margin-left: 15vw;
}

.locations-map {
  width: 30vw;
  position: relative;
  float: left;
  margin-right: 19vw;
}

.locations-map iframe {
  margin-left: 50%;
  transform: translateX(-50%);
}

.contact_form_container {
  margin-left: 15%;
  width: 70%;
  margin-right: 15%;
}

.contact_form_container .row {
  width: 100%;
}

.contact_form_container .row * {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 0.2em;
  font-size: 1.35em;
  color: var(--ongres-blue);
}

.contact_form_container .row label {
  color: var(--ongres-orange);
}

.letstalk-description {
  position: relative;
  float: left;
  margin-bottom: 0.2vh;
  font-size: 1.8em;
  color: var(--ongres-blue);
}

.contact_form_container input[type="submit"] {
  border: 0;
  background-color: var(--ongres-orange);
  box-shadow: none;
  border-radius: 0px;
  color: white;
  line-height: 3em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_form_container .field_textarea {
  height: 7em;
  margin-bottom: 0.2em;
}

.form_response {
  display: none;
  background: var(--ongres-blue);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.form_response.response_ok {
  background: #006EC0;
  background: rgba(0, 110, 192, 0.95);
}

.form_response.response_ko {
  background: #D32E00;
  background: rgba(211, 46, 0, 0.95);
}

.response_wrapper {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.response_message {
  color: #fff;
  font-family: "Bree Serif", arial, sans-serif;
  font-size: 2em;
  margin: 0 2.5rem;
  text-align: center;
}

.response_ok .response_message::before {
  background: url("../assets/chuck-norris-approves-v2.gif") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10rem;
  margin: 0 auto 2.5rem;
  width: 10rem;
}

.response_ko .response_message::before {
  background: url("../assets/picard-epic-facepalm-v2.gif") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10rem;
  margin: 0 auto 2.5rem;
  width: 10rem;
}

/*
###########################################
############### INFOGRAPHY ################
###########################################
*/

.infography {
  width: 68vw;
  /*max-width: 1600px;*/
  margin-left: 50%;
  transform: translateX(-50%);
}

/*
###########################################
############ MEDIA QUERIES ################
###########################################
*/

@media (max-width: 2000px) {
  body {
    font-size: 13px;
  }
  .section-title.textpage {
    margin-top: 10vh;
  }
  .whatwedo {
    width: 91vw;
  }
  .infography {
    width: 78vw;
  }
  .submenu .menu-buttons .menu-button, .submenu .menu-buttons .menu-button a {
    font-size: 1.25em;
  }
}

@media (max-width: 1600px) {
  body {
    font-size: 11px;
  }
  .infography {
    width: 84vw;
  }
}

@media (max-width: 1380px) {
  body {
    font-size: 10px;
  }
  .section-title.products {
    margin-top: 8vh;
  }
}

@media (max-width: 1200px) {
  .partners {
    height: 8vh;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 10px;
  }
  .infography {
    width: 100vw;
  }
  .main-service .section-title {
    /* font-size: 3.5em;*/
  }
  #elephant {
    left: 3.4vw;
  }
  .animated {
    width: 0;
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 8px;
  }
  .db-banner {
    margin-top: 0;
    z-index: 101;
    background-image: url('../assets/db-banner-movil.png');
    height: 34vh;
    position: relative;
  }
  .db-banner .text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .db-banner .text .subtitle {
    font-size: 1.92em;
    margin: 0;
    letter-spacing: 0;
  }
  #mobile-elephant {
    display: block;
    height: 15vh;
    width: 30vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  header {
    display: none;
  }
  #elephant {
    display: none;
  }
  .whatwedo {
    width: 100%;
    margin-left: 0;
    transform: none;
  }
  .whatwedo .item {
    float: none;
    width: 100%;
    background: url('../assets/trapezoid-movil.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .whatwedo .middle_item {
    margin-left: 0;
    margin-right: 0;
  }
  .whatwedo .item .content {
    margin-top: 14em;
    height: 22.1em;
  }
  .icon-container-translate {
    width: 30vw;
  }
  .icon-container {
    width: 27vw;
    height: 27vw;
    /*border: 1.5vw solid white;*/
  }
  .icon-container-back {
    width: 30vw;
    height: 30vw;
  }
  .whatwedo .item .content .text {
    margin-top: 4em;
  }
  .whatwedo .item .content .text .title {
    margin-left: 0;
    transform: none;
    width: 100%;
    padding-bottom: 0.2vh;
  }
  .whatwedo .item .content .text .description {
    width: 84%;
  }
  .partner {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 23vw;
    height: auto;
  }
  .mobile-menu-button-container {
    display: block;
  }
  #mobile-menu-button {
    display: block;
  }
  .mobile-menu-buttons {
    margin-top: 36vh;
    margin-left: 6vw;
  }
  .dark .mobile-menu-buttons {
    margin-top: 12vh;
  }
  .mobile-submenu-buttons {
    margin-top: 1vh;
    margin-left: 12vw;
    height: 0;
    transition: all 2000ms ease-in-out;
  }
  .mobile-submenu-buttons * {
    height: 0;
    display: none;
  }
  .mobile-submenu-buttons.open, .mobile-submenu-buttons.open * {
    height: auto;
    display: block;
  }
  .mobile-menu-buttons .menu-button {
    padding-bottom: 1em;
    width: 100%;
  }
  .mobile-menu-buttons .lang-menu-button {
    font-size: 2.5em;
    color: white;
  }
  .mobile-menu-buttons a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-weight: 600;
  }
  .mobile-submenu-buttons a {
    font-weight: normal;
    font-size: 2em;
  }
  .submenu-arrow {
    height: 1.5vh;
    margin-left: 1vh;
    width: 3vh;
  }
  .submenu-arrow.up {
    transform: scaleY(-1);
  }
  .subscribe-banner {
    background-image: url('../assets/subscribe-movil.jpg');
    height: 23vh;
  }
  .subscribe-banner img {
    left: 1vw;
    width: 17vw;
    height: 17vw;
    margin-top: 5vw;
  }
  .subscribe-banner .subscribe-banner-button {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25vw;
  }
  .subscribe-banner .text {
    margin-top: 4vw;
    left: 23vw;
    width: 64vw;
    font-size: 1.6em;
    background-color: var(--very-transparent-ongres-blue);
    box-shadow: 0 0 12vw var(--ongres-blue);
  }
  .animated {
    width: 0;
    display: none;
  }
  .main-service {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    width: 96%;
  }
  .main-service .section-title {
    margin-top: 1em;
    font-size: 2.6em;
    margin-top: 12vh;
  }
  .service-description {
    margin-left: 5%;
    text-align: justify;
    font-size: 1.9em;
    margin-top: 1vh;
  }
  .service-description ul {
    -webkit-padding-start: 1em;
  }
  .service-description li {
    padding-bottom: 0.3em;
  }
  .section-title.products {
    margin-top: 12vh;
  }
  .product-img {
    width: 100vw;
    height: 50vh;
    margin-top: -10vh;
    background-size: cover;
  }
  .product-desc {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .product-desc .point {
    width: 90vw;
  }
  .product-desc .point .description {
    font-size: 1.9em;
  }
  .section-title.textpage {
    margin-top: 16vh;
  }
  .section-title.contact {
    margin-top: 12vh;
  }
  .contact-form {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .locations-map {
    width: 100%;
    margin-right: 0;
    margin-top: 10vh;
  }
  .section-text {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    position: relative;
    float: left;
    margin-top: 1vh;
    margin-bottom: 4vh;
    font-size: 1.8em;
    color: var(--ongres-blue);
    width: 90%;
    text-align: justify;
  }
  .locations-map iframe {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .contact_form_container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact_form_container .row * {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 0.2em;
    font-size: 2em;
    color: var(--ongres-blue);
  }
  .contact_form_container .row label {
    color: var(--ongres-orange);
  }
  .letstalk-description {
    position: relative;
    float: left;
    margin-bottom: 0.2vh;
    font-size: 1.8em;
    color: var(--ongres-blue);
  }
  .contact_form_container input[type="submit"] {
    border: 0;
    background-color: var(--ongres-orange);
    box-shadow: none;
    border-radius: 0px;
    color: white;
    line-height: 3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .contact_form_container .field_textarea {
    height: 7em;
    margin-bottom: 0.2em;
  }
  .bottom {
    height: 45vh;
  }
  #mobile-elephant-left {
    height: 15vh;
    width: 30vw;
    float: left;
    display: none;
  }
  .dark #mobile-elephant-left {
    display: block;
  }
  .mobile-header-logo {
    float: left;
    height: 3vh;
    position: relative;
    margin-top: 3.5vh;
    margin-left: 5vw;
    display: none;
  }
  .dark .mobile-header-logo {
    display: block;
  }
  .slider-arrow {
    height: 4.8vh;
    line-height: 4.8vh;
    margin-top: 1.5vh;
  }
  .slick-services {
    height: 6vh;
    max-width: 28%;
  }
  .slick-service {
    width: 10vw;
  }
  .bottom-text {
    font-size: 1.5em;
  }
  /*MOBILE BOXES*/
  .mobile-box-toggler {
    height: 1.5vh;
    margin-top: 1vh;
    width: 3vh;
    float: right;
  }
  .mobile-box.open .mobile-box-toggler {
    transform: scaleY(-1);
  }
  .mobile-boxes {
    width: 100%;
    color: var(--ongres-blue);
    border-top: 1px solid var(--ongres-blue);
  }
  .mobile-box {
    border-left: 1px solid var(--ongres-blue);
    border-right: 1px solid var(--ongres-blue);
    border-bottom: 1px solid var(--ongres-blue);
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
  .mobile-box-title {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    font-size: 2.1em;
    font-weight: 600;
  }
  .mobile-box-desc {
    font-size: 1.7em;
    display: none;
    padding-bottom: 1.2vh;
  }
  .mobile-box.open .mobile-box-desc {
    display: block;
  }
  #description .mobile-boxes {
    font-size: 0.5555em;
  }
  .item-box {
    margin-top: 2em;
    margin-left: 6.1vw;
    margin-right: 6vw;
  }
}

@media (orientation: portrait) and (max-width: 1200px) {
  #elephant {
    height: 12vh;
  }
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}