{{ define "main" }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
<div class="blog-list-articles">

{{ .Content }}

{{ range $paginator.Pages }}
<article class="blog-post-list">
    <section class="blog-title-list"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></section>
  
    <section class="blog-metadata">
      <i class="fas fa-calendar"></i> {{ .PublishDate.UTC.Format "January 2, 2006" }}&nbsp;&nbsp;
      <i class="fas fa-user"></i> <a href="{{ "/blog/author/" | relURL }}{{ .Params.author | urlize }}">{{ .Params.author | default "OnGres Team" }}</a>&nbsp;&nbsp;
      {{ if .Params.tags }}
      <i class="fas fa-tags"></i> 
      {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}
    </section>
  
    <section class="blog-text">
      <p>{{ .Summary }}</p>
      {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a class="btn btn-outline-secondary btn-sm" role="button" href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </section>
</article>
{{end}}

<!-- {{ template "_internal/pagination.html" . }} -->
</div>

<div class="horizontal-space"></div>
<div class="horizontal-space"></div>

{{end}}
