{{ define "main" }}

<article class="blog-post">
  <section class="blog-title">
    <h1>{{ .Title }}</h1>
  </section>

  <section class="blog-metadata">
    <i class="fas fa-calendar"></i> <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time> &middot; {{ .ReadingTime }} min read<br>
    <i class="fas fa-user"></i> <a href="{{ "/blog/author/" | relURL }}{{ .Params.author | urlize }}">{{ .Params.author | default "OnGres Team" }}</a>&nbsp;&nbsp;
    {{ if .Params.tags }}
    <i class="fas fa-tags"></i>
    {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/blog/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
  </section>

  <section class="blog-text">
    <!-- Figure -->
    {{ with .Params.cover_image }}
    <div class="blog-cover-image" style="background-image: url('{{ . | absURL }}');"></div>
    {{ end }}
    <div class="horizontal-space"></div>
    <p>{{ .Content }}</p>
  </section>

  <section class="blog-comments">
    {{ template "_internal/disqus.html" . }}
  </section>

</article>

<div class="horizontal-space"></div>
<div class="horizontal-space"></div>

{{end}}