{{ define "main" }}

<div class="blog-list-articles">
{{ range .Pages }}
{{ if .Title }}
<article class="blog-post-list">
    <section class="blog-title-list"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></section>
  
    <section class="blog-metadata">
      {{ if .PublishDate }}
      <!--<i class="fas fa-calendar"></i> {{ .PublishDate.UTC.Format "January 2, 2006" }}&nbsp;&nbsp;-->
      {{end}}
      {{ if .Params.author }}
      <i class="fas fa-user"></i> {{ .Params.author | default "OnGres Team" }}&nbsp;&nbsp;
      {{end}}
      {{ if .Params.tags }}
      <i class="fas fa-tags"></i> 
      {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}
    </section>
  
    <!--<section class="blog-text">{{ .Summary }}</section>-->
  </article>
{{end}}
{{end}}
</div>

<div class="horizontal-space"></div>
<div class="horizontal-space"></div>
<div class="horizontal-space"></div>
<div class="horizontal-space"></div>

{{end}}
