{{ define "main" }}

<div class="section-title textpage" id="title">{{ .Title }}</div>
<div class="section-text" id="description">{{ .Content }}</div>
<div class="horizontal-space"></div>
<div class="horizontal-space"></div>
<div class="horizontal-space"></div>

{{end}}
