
<footer class="bottom">
  <div class="subscribe-banner">
    <!-- <img src="{{.Site.BaseURL}}assets/megafono.svg" alt="" /> -->
  </div>
  <div class="social">
    <a href="https://www.linkedin.com/company/ongres/" target="_blank"><img alt="Linkedin" src="{{.Site.BaseURL}}assets/linkedin.svg" class="social-network" /></a>
    <a href="https://twitter.com/ongresinc" target="_blank"><img alt="Twitter" src="{{.Site.BaseURL}}assets/twitter.svg" class="social-network" /></a>
  </div>
  <div class="bottom-text" id="bottom-text">&copy; {{ now.Format "2006" }} {{ .Site.Copyright }}</div>
  <div class="bottom-text" id="bottom-text"></div>
</footer>
</body>

</html>