<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{- if not .IsHome }}
      {{- if eq .Kind "page" }}{{ .Title }}
      {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
      {{- else }}Posts
      {{- end }} &middot; {{ end }}
      {{- .Site.Title -}}
    </title>
    {{ template "_internal/google_analytics_async.html" . }}
    {{ partialCached "favicons.html" . }}
    <meta name="author" content="{{ .Params.Author | default .Site.Author.name }}" />

    <link rel="stylesheet" href="{{.Site.BaseURL}}lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{.Site.BaseURL}}lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css" />

    <!--<script src="{{.Site.BaseURL}}lib/jquery.js"></script>
    <link rel="stylesheet" href="{{.Site.BaseURL}}lib/slick-1.8.1/slick/slick.css"/>
    <script src="{{.Site.BaseURL}}lib/slick-1.8.1/slick/slick.min.js"></script>
    <script src="{{.Site.BaseURL}}js/menu.js"></script>-->
  </head>
  <body>

