<header {{if not .IsHome }}class="dark" {{end}}>
  <a href="{{.Site.BaseURL}}">
    <img src="{{.Site.BaseURL}}assets/elephant.svg" alt="" id="elephant" />
  </a>
  <a href="{{.Site.BaseURL}}">
    <img src="{{.Site.BaseURL}}assets/banner-logo.svg" class="header-logo">
  </a>
  <!-- <div class="menu-buttons" id="menu">
    <div class="menu-button "><a href="/en/about-us">About OnGres</a></div>
    <div class="menu-button"><a href="#" onclick="toggleSubmenu('.submenu.submenu-0');">Services</a></div>
    <div class="menu-button "><a href="/en/products-postgresqlconf">Products</a></div>
    <div class="menu-button "><a href="/blog/">Blog</a></div>
    <div class="menu-button "><a href="/en/contact">Contact</a></div>
  </div>
  <div id="submenu-container">
    <div class="submenu submenu-0" style="display: none;">
      <div class="menu-buttons">
        <div class="menu-button submenu-button"><a href="/en/migrations">Oracle to PostgreSQL migrations</a></div>
        <div class="menu-button submenu-button"><a href="/ensupport">PostgreSQL proactive support</a></div>
        <div class="menu-button submenu-button"><a href="/en/development">Development over DBs with Java</a></div>
      </div>
    </div>
  </div> -->
</header>
<div class="mobile-menu-button-container dark">
  <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}assets/elephant.svg" alt="" id="mobile-elephant-left"></a>
  <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}assets/banner-logo.svg" class="mobile-header-logo"></a>
</div>