{{ partial "header.html" . }}

    <script type="text/javascript">
    function loadJSON(json, callback) {

      var xobj = new XMLHttpRequest();
      xobj.overrideMimeType("application/json");
      xobj.open('GET', json + "?" + (new Date()).getTime(), true);
      xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
              // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
              callback(xobj.responseText);
            }
      };
      xobj.send(null);
   }
   function spin(e){
     $(e).addClass("turning");
     setTimeout(function(){ $(e).removeClass("turning"); }, 800);
   }
   function setServices(customers, number) {
     serviceCode = customers[number].services
       .map(service => '<div class="slick-service" style="background-image:url(\'{{.Site.BaseURL}}assets/' + service + '.svg\')"></div>')
     .join("");

     $(".slick-services").empty();
     $(".slick-services").append(serviceCode);

   }
   $(function () {
   loadJSON('{{.Site.BaseURL}}data/customers.json', function(response) {
     customers = JSON.parse(response);

     customers
     .map(customer => '<div class="slick-card "><div class="customer ' + customer.name + '"></div></div>')
     .forEach(li => $(".slick").append(li));

     customers
     .map(customer => '<div class="slick-services">' +
       customer.services
       .map(service => '<div class="slick-service" style="background-image:url(\'{{.Site.BaseURL}}assets/' + service + '.svg\')"></div>')
       .join() + '</div>')
     .forEach(li => $(".slick-services-slider").append(li));

     var slickOptions, realWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
     if (realWidth > 600) {
       slickOptions = {
          centerMode: true,
          centerPadding: '0',
          slidesToShow: 3,
          arrows: true,
          prevArrow: '<div class="slider-arrow slider-arrow-left"></div>',
          nextArrow: '<div class="slider-arrow slider-arrow-right"></div>'
        };
     } else {
       slickOptions = {
          centerMode: true,
          centerPadding: '0',
          slidesToShow: 1,
          arrows: true,
          prevArrow: '<div class="slider-arrow slider-arrow-left"></div>',
          nextArrow: '<div class="slider-arrow slider-arrow-right"></div>'
        };
     }
     $(".slick").slick(slickOptions);

     setServices(customers, 0);

     $(".slick").on('beforeChange', function(event, slick, currentSlide, nextSlide){
       setServices(customers, nextSlide);
     });

     var lang = 'en';

     loadJSON('/data/' + lang + '.json', function(response2) {
       messages = JSON.parse(response2);

       calculateMenu(messages, lang, "index");

       $("#migrations-wwd .text .title").text(messages.whatwedo.migrations.title);
       $("#migrations-wwd .text .description").html(messages.whatwedo.migrations.text);

       $("#support-wwd .text .title").text(messages.whatwedo.support.title);
       $("#support-wwd .text .description").text(messages.whatwedo.support.text);

       $("#dev-wwd .text .title").text(messages.whatwedo.dev.title);
       $("#dev-wwd .text .description").text(messages.whatwedo.dev.text);

       $("#customers-title").text(messages.basic.customers);
       $("#given-services").text(messages.basic.givenServices);
       $("#partners-title").text(messages.basic.partners);
       $("#whatwedo").text(messages.basic.whatwedo);

       $("#supercharge").html(messages.basic.supercharge);
       $("#bottom-text").html(messages.basic.bottom);

       $("#letsTalk").text(messages.pages.contact.letsTalk.title);
       $("#have-doubts").text(messages.basic.haveDoubts);
     });
   });
 });
    </script>

    <div class="" id="submenu-container"></div>
    <div class="db-banner">
      <div class="text">
        <img src="{{.Site.BaseURL}}assets/elephant.svg" alt="" id="mobile-elephant">
        <img src="{{.Site.BaseURL}}assets/banner-logo.svg" alt=""/>
        <div class="subtitle" id="supercharge">
        </div>
      </div>
    </div>
    <div class="horizontal-space"></div>
    <div class="section-title" id="whatwedo"></div>
    <div class="horizontal-space"></div>
    <div class="whatwedo">
      <div class="item" id="migrations-wwd">
        <div class="icon-container-translate">
          <div class="icon-container" onmouseover='spin(this)'>
            <a style="outline: none;" href="migraciones"><img src="{{.Site.BaseURL}}assets/migrations.svg" alt=""></a>
          </div>
          <div class="icon-container-back">
          </div>
        </div>
        <div class="content">
          <div class="text">
            <div class="title">
            </div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="item middle_item" id="support-wwd">
        <div class="icon-container-translate">
          <div class="icon-container" onmouseover='spin(this)'>
            <a style="outline: none;" href="soporte"><img src="{{.Site.BaseURL}}assets/support.svg" alt=""></a>
          </div>
          <div class="icon-container-back">
          </div>
        </div>
        <div class="content">
          <div class="text">
            <div class="title">
            </div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="item" id="dev-wwd">
        <div class="icon-container-translate">
          <div class="icon-container" onmouseover='spin(this)'>
            <a style="outline: none;" href="desarrollo"><img src="{{.Site.BaseURL}}assets/dev.svg" alt=""></a>
          </div>
          <div class="icon-container-back">
          </div>
        </div>
        <div class="content">
          <div class="text">
            <div class="title">
            </div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="horizontal-space"></div>
    <div class="horizontal-space"></div>
    <div class="horizontal-space"></div>
    <div class="horizontal-bar"></div>
    <div class="horizontal-space"></div>
    <div class="section-title" id="customers-title"></div>
    <div class="horizontal-space"></div>
    <div class="slick-container">
      <div class="slick">
      </div>
    </div>
    <div class="subsection-title" id="given-services"></div>
    <div class="slick-services">
    </div>
    <div class="horizontal-space"></div>
    <div class="horizontal-bar"></div>
    <div class="horizontal-space"></div>
    <div class="horizontal-space"></div>
    <div class="horizontal-space"></div>
    <div class="section-title" id="partners-title"></div>
    <div class="horizontal-space"></div>
    <div class="partners">
      <!--<a href="https://cloud.google.com/" target="_blank"><img src="{{.Site.BaseURL}}assets/google.png" class="partner"/></a> -->
      <a href="https://pythian.com/" target="_blank"><img src="{{.Site.BaseURL}}assets/pythian.png" class="partner"/></a>
    </div>
    <div class="horizontal-space"></div>
    <div class="horizontal-space"></div>
{{ partial "footer.html" . }}
